@model AthenaWebApp.Models.News

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>News</h4>
<hr />
<div class="row" style="width: stretch; height: stretch">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstContent" class="control-label"></label>
                <input asp-for="FirstContent" class="form-control" />
                <span asp-validation-for="FirstContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondContent" class="control-label"></label>
                <input asp-for="SecondContent" class="form-control" />
                <span asp-validation-for="SecondContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdContent" class="control-label"></label>
                <input asp-for="ThirdContent" class="form-control" />
                <span asp-validation-for="ThirdContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    @if (Model.Foto != null)
                    {
                        <img id="profilePicture" style="width:100px;height:100px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Foto))">
                    }
                    else
                    {
                        <img id="profilePicture" style="width: 80px; height: 80px; object-fit: cover " src="">
                    }
                </div>

                <input type="file" name="Image" id="ImageInput" asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
