@model IEnumerable<System.Security.Claims.Claim>
@using AthenaWebApp.Data

@{
    ViewData["Title"] = "Index";
    bool active = false;

}

<script>
    
function markRow(el) {
    if(!el) return;
    var clr = el.checked ? '#7fff00' : ''
    while(el) {
        if(el.tagName.toLowerCase() == 'tr') {
            el.style.backgroundColor = clr;
            return;
        }
        el = el.parentNode;
    }
} 
</script>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.linie {
  border-top:1px solid black;
  width:150px;
}

tr:hover {background-color:yellow;}
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="height:350px;overflow:auto;">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>Activated</th>
        </tr>
    </thead>
    <tbody>
        @for(var i = 0; i < ClaimData.ClaimTypes.Count; i++)
        {
            @for(var z = 0; z < ClaimData.ClaimValues.Count; z++)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => ClaimData.ClaimTypes[i])</td>
                    <td>@Html.DisplayFor(modelItem => ClaimData.ClaimValues[z])</td>
                    <td><input type="checkbox" onclick="markRow(this)"></td>
                </tr>
            }
            <tr class="linie"></tr>
        }

    </tbody>
</table>


</div>
