@{
    ViewData["Title"] = "Brand new Mobile App for Android and iOS";
}

<div class="text-center">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <h1 class="display-4">Brand new Mobile App for Android and iOS</h1>
</div>




<section class="highlight-phone">
    <div class="container text-center d-flex float-start flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center m-auto">
        <div class="col-md-8 d-flex justify-content-center align-items-center align-content-center align-self-center order-first m-auto" style="width: 400px;height: 800px;">
            <div class="float-start intro" style="width: 350px;height: 500px;">
                <h2 style="color: #08298A;text-align: center;">Download the Athenathon App</h2>
                <p class="m-auto" style="color: #08298A;">Be a part of the Athenathon and track your daily km without problems. Get great insights into exciting graphics. And reach your goals together with 7 other Universities.</p><a class="btn btn-primary" role="button" href="#" style="background: #58ACFA;border-color: var(--bs-white);">click here!</a>
                <p class="m-auto" style="color: #08298A;font-size: 12px;">*Avaiable for Android &amp; iOS</p>
            </div>
        </div>
        <div class="col-auto text-center flex-fill justify-content-center align-items-center align-content-center align-self-center order-last mb-auto"><img class="rounded d-flex flex-fill justify-content-center align-items-center align-content-center align-self-center m-auto" src="~/assets/img/Tempclipboard-image.png" style="width: 280px;background: url(&quot;Bild12.jpg&quot;) center / contain no-repeat;transform-origin: center;border-radius: 0px;text-align: center;font-size: 12px;" loading="auto"></div>
    </div>
</section>
<!--
<body class="text-center  justify-content-center align-items-center align-content-center align-self-center m-auto">


</body>
    -->
