@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <h1 class="display-4">Athena presents</h1>
</div>

<section class="features-blue" style="background: var(--bs-white);color: var(--bs-white);">
    <div class="container">
        <div class="intro">
            <p class="text-center" style="color: #FAFAFA;"></p>
        </div>
        <div class="row features">
            <div class="col-sm-6 col-md-4 item" data-bss-hover-animate="pulse" style="background: var(--bs-white);">
                <i class="fas fa-map-marked-alt icon" style="color: #58ACFA;"></i>
                <h3 class="name" style="color: #08298A;">Works everywhere</h3>
                <p class="description" style="color: #08298A;">Get the Athenathon App and track your daily km for free.&nbsp; Discover exciting graphics and get new insights into your workout.</p><button class="btn btn-primary" type="button" style="background: #58ACFA;color: var(--bs-white);border-color: #58ACFA;">Click here!</button>
            </div>
            <div class="col-sm-6 col-md-4 item" data-bss-hover-animate="pulse">
                <i class="fas fa-user-friends icon" style="color: #58ACFA;"></i>
                <h3 class="name" style="color: #08298A;">7 Universitys</h3>
                <p class="description" style="color: #08298A;">Reach a distance of 11.000 km together through carbon-free activities.&nbsp;<br>This initiative is embedded in a more global vision of a&nbsp;<strong>green and climate-friendly Europe</strong>.<br><br></p>
            </div>
            <div class="col-sm-6 col-md-4 item" data-bss-hover-animate="pulse">
                <i class="fas fa-people-carry icon" style="color: #58ACFA;"></i>
                <h3 class="name" style="color: #08298A;width: 148px;height: 48px;">Reach your Goals together</h3>
                <p data-bss-hover-animate="pulse" class="description" style="color: #08298A;">The goal is to connect all seven campuses of the Athena alliance. You will get to know new people and be a part of a unique European experience.</p>
            </div>
            <div class="col-sm-6 col-md-4 item" data-bss-hover-animate="pulse">
                <i class="fas fa-swimmer icon" style="color: #58ACFA;"></i>
                <h3 class="name" style="color: #08298A;">Swimming</h3>
                <p class="description" style="color: #08298A;">Even your swommen km can be entered into the app without problems. It shows that anyone can take a part in this event.</p>
            </div>
            <div class="col-sm-6 col-md-4 item" data-bss-hover-animate="pulse">
                <i class="fas fa-biking icon" style="color: #58ACFA;"></i>
                <h3 class="name" style="color: #08298A;">Cycling</h3>
                <p class="description" style="color: #08298A;">Collect your km with your favorite sport.&nbsp; Use the opportunity to do a Bike ride with your friends and colleagues.</p>
            </div>
            <div class="col-sm-6 col-md-4 item" data-bss-hover-animate="pulse">
                <i class="fas fa-walking icon" style="color: #58ACFA;"></i>
                <h3 class="name" style="color: #08298A;">Walking</h3>
                <p class="description" style="color: #08298A;">Adopt a healthy and environmentally friendly lifestyle. Be proud of yourself and keep in mind that it's not a competition nobody loses.</p>
            </div>
        </div>
    </div>
</section>
