@model AthenaWebApp.Models.UserActivity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ActivityId" class="control-label"></label>
                <select asp-for="ActivityId" class="form-control" asp-items="ViewBag.ActivityId"></select>
            </div>
            <!-- Will be setted automatically 
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div
                -->
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopTime" class="control-label"></label>
                <input asp-for="StopTime" class="form-control" />
                <span asp-validation-for="StopTime" class="text-danger"></span>
            </div>
            <!-- Will be computed automatically 
            <div class="form-group">
                <label asp-for="SumTime" class="control-label"></label>
                <input asp-for="SumTime" class="form-control" />
                <span asp-validation-for="SumTime" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <label asp-for="SumDistance" class="control-label"></label>
                <input asp-for="SumDistance" class="form-control" />
                <span asp-validation-for="SumDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
