@model AthenaWebApp.Models.Template
@{
    ViewData["Title"] = "Template";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="card" style="padding:10px 50px 50px 50px">

    <h3>Edit your Template here</h3>

    <div>
        <form asp-controller="Templates" asp-action="Edit" method="post">
            @Html.AntiForgeryToken()

            <input asp-for="TemplateId" type="hidden" />
            <input asp-for="UserId" type="hidden" />

            <label asp-for="TemplateTitle" class="control-label"></label>
            <div ass="col-md-10">
                <textarea style="border-color:grey;" asp-for="TemplateTitle" id="TemplateTitle" name="TemplateTitle" cols="70" placeholder="Add Title"></textarea>
            </div>
            <div ass="col-md-10">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" id="Description" class="ckeditor" name="Description" rows="200"></textarea>
            </div>

            <div style="padding-top:10px"
                <button class="btn btn-outline-primary" type="submit" value="submit">Save</button>
                <a class="nav-link" asp-area="" asp-controller="Templates" asp-action="Index">See my Templates</a>
            </div>
        </form>
    </div>
</div>
<style>
    body {
        background-color: #eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }
</style>


<script>
    $(document).ready(function () {
        CKEDITOR.replace('#Description');
    });
</script>

